*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    height: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: linear-gradient(90deg,rgb(151, 136, 253),rgb(235, 140, 140));
}
.logo
{
    color: white;
    letter-spacing: 1px;
    padding: 20px 50px;
}
.a
{
    color: darkslateblue;
}
.m
{
    color: rgba(71, 61, 139, 0.623);
}
.y
{
    color: darkslateblue;
}
ul li
{
    list-style: none;
}
ul
{
    width: 100%;
    color: aliceblue;
    font-weight: 700;
    letter-spacing: 1px;
}
li
{
    width: 110px;
    height: 40px;
    min-width: fit-content;
    margin: -10px 3px;
    padding: 10px 0 5px 0;
    text-align: center;
}
li:hover
{
    border-bottom: 3px solid rgb(103, 92, 177);
    cursor: pointer;
    transition: all .2s;
}
.body
{
    display: flex;
    margin: 10px 130px;
}